@model CFApp.Data.TestEntity
@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>


@using (Html.BeginForm()) {

    <fieldset>
        <legend>TestEntity</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.Surname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Surname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.No)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.No)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}
